<div class="beer">
  <img src="{{beer.image_url}}" alt="{{beer.name}}">
  <h2>{{beer.name}}</h2>
  <p>{{beer.description}}</p>
  <p><em>{{beer.tagline}}</em></p>
  {{#if beer.food_pairing}}
  <p><strong>Food pairing:</strong> {{beer.food_pairing}}</p>
  {{/if}}
  {{#if beer.brewers_tips}}
  <p><strong>Brewer tips:</strong> {{beer.brewers_tips}}</p>
  {{/if}}
</div>